@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles below this line */

/* Fix for select dropdown text color */
select, select option {
  color: black !important;
  background-color: white !important;
}

option {
  background-color: white !important;
  color: black !important;
  font-weight: normal !important;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
